@using BlankBase.Extensions
@using System.Text.Json
@{
    var toasts = TempData.GetToasts();
}

@* Toast Container - Fixed position at top-right of viewport *@
<div class="toast-container position-fixed top-0 end-0 p-3"
     id="toastContainer"
     data-initial-toasts='@Html.Raw(JsonSerializer.Serialize(toasts, TempDataExtensions.JsonOptions))'>
    <!-- Toasts will be dynamically inserted here -->
</div>

@* Toast Template - Single source of truth for toast structure *@
<template id="toastTemplate">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div data-glue-attrs="class:HeaderClass">
            <strong class="me-auto">
                <span data-glue="Icon"></span> <span data-glue="Title"></span>
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" data-glue-attrs="class:CloseButtonClass"></button>
        </div>
        <div class="toast-body" data-glue="MessageText"></div>
    </div>
</template>
